.container{
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../images/mh-bg.png) no-repeat center;
	background-size: cover;
}
.zs-main{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -262px;
	margin-left: -500px;
	width: 1000px;
	height: 524px;
	background: url(../images/mh-main-op_03.png) no-repeat;
}
.main{
	width: 960px;
	height:484px;
	background: url(../images/mg-f_03.png) no-repeat;
	margin:20px; 
	position: relative;
}
.header-title{
	position: absolute;
	width: 740px;
	height: 50px;
	left: 50%;
	top: 50px;
	margin-left: -370px;
	background: url(../images/mg-header_03.png) no-repeat;
}
.main-xt{
	position: absolute;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 290px;
    top: 110px;
}
.main-xt ul li{
	float: left;
    width: 180px;
    height: 108px;
    margin-left: 25px;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
    padding: 45px 10px;
     color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}
.main-xt ul li a{
	color:#fff;
	display: block;
	width: 100%;
	height: 100%;
}
.main-xt ul li.li-left{
	margin-left:0;
}
.main-xt ul li.li-top{
	margin-top: 50px;
}
.main-xt ul li i{
	position: absolute;
	top: -25px;
    left: 62px;
	width: 58px;
	height: 58px;
}
.li-one{
	background-color: #8fbe00;
}

.li-one i{
	background: url(../images/a1_03.png) no-repeat;
}
.li-two i{
	background: url(../images/a2_05.png) no-repeat;
}
.li-three i{
	background: url(../images/a3_07.png) no-repeat;
}
.li-fore i{
	background: url(../images/a5_09.png) no-repeat;
}
.li-five i{
	background: url(../images/a8_15.png) no-repeat;
}
.li-six i{
	background: url(../images/a6_16.png) no-repeat;
}
.li-seven i{
	background: url(../images/a8_17.png) no-repeat;
}
.li-eight i{
	background: url(../images/a8_18.png) no-repeat;
}
.li-two{
	background-color: #98cc1f;
}
.li-three{
	background-color: #75c419;
}
.li-fore{
	background-color: #0db943;
}
.li-five{
	background-color: #afc11b;
}
.li-six{
	background-color: #c1b71b;
}
.li-seven{
	background-color: #caa618;
}
.main-xt ul li.li-eight{
	background-color: #d1be1f;
	font-weight: normal;
	font-size: 12px;
}