/* .container{
	width:100%;
	height:100%;
	border:1px solid #ddd;
} */
.zs-left-main{
	padding:10px 5px;
	background-color: #f2f2f2;
}
.zs-tree-list{
	height: 100%;
	background-color: #fff;
	border:1px solid #ddd;
}
.zs-tree-list .list-header{
	height: 28px;
	line-height: 28px;
	background-color: #fbfbfb;
	border-bottom:1px solid #ddd;
}
.list-icon{
	display: inline-block;
	width: 20px;
	height: 28px;
	cursor: pointer;
	background: url(../images/list-down_03.png) no-repeat center center;
}
.list-header .list-header-cont{
	width: 100px;
	height: 28px;
	text-align: center;
	background-color: #b79052;
	color: #fff;
}
/* 搜索 */
.zs-tree-search{
	padding: 15px 15px 0 15px;
}
input[name='search-name']{
	width: 215px;
	height: 25px;
	float: left;
	padding: 5px;
	font-size: 12px
}
.serach-btn{
	width: 70px;
	display: inline-block;
	height: 25px;
	background-color: #b79052;
	float: right;
	color: #fff;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}
.zs-tree-list .tree-list{
	height: calc(100% - 90px);
	margin: 10px 0;
	padding-left: 30px;
}


/* 右侧 */
.map-box1{
	height: 100%;
}
.fun-btn1 ul{
	height: 40px;
	float: right;
}
.fun-btn1 ul li img{
	vertical-align: middle;
}
.fun-btn1 ul li{
	float: left;
	height: 26px;
	line-height: 26px;
	/*border: 1px solid #ddd;*/
	margin: 7px 10px 0 0;
	cursor: pointer;
	/*background-color: #fff;*/
	padding: 0px 15px;
	/*text-align: center;*/
}
.fun-btn1 ul.treeTab2 li{
	float: left;
	height: 26px;
	line-height: 26px;
	border: 1px solid #ddd;
	margin: 7px 10px 0 0;
	cursor: pointer;
	background-color: #fff;
	padding: 0px 15px;
	text-align: center;
}
.fun-btn1{
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
}
.fun-btn2-active{
	color: #fff;
	background-color: #b79052 !important;
}
#map1{
	width: 100%;
	height: calc(100% - 40px);
	background-size: cover;
}
.zs-main-right .map1{
	background: url(../images/map1.jpg) no-repeat;
	/*width: 100%;*/
	/*height: calc(100% - 40px);*/
	/*background-size: cover;*/
}
.zs-main-right .map2{
	background: url(../images/map2.jpg) no-repeat;
}
.zs-main-right .map3{
	background: url(../images/map3.jpg) no-repeat;
}
.zs-main-right .map4{
	background: url(../images/map4.jpg) no-repeat;
}
.zs-main-right .map5{
	background: url(../images/map5.jpg) no-repeat;
}
.zs-main-right .map6{
	background: url(../images/map6.jpg) no-repeat;
}
.zs-main-right .map7{
	background: url(../images/map7.jpg) no-repeat;
}
.zs-main-right .map8{
	background: url(../images/map8.jpg) no-repeat;
}
.zs-main-right .map9{
	background: url(../images/map9.jpg) no-repeat;
}
.zs-main-right .map10{
	background: url(../images/map10.jpg) no-repeat;
}
.dongTai{
	display: none;
}
.show{
	display: block;
}
#map2{
	width: 100%;
	height: calc(100% - 40px);
	background-size: cover;
	display: none;
}
#map0{
	display: none;
}

#map2 ul{
	position: relative;
	z-index: 999;
	top: 15px;
}
#map2 ul li{
	float: left;
	height: 26px;
	line-height: 26px;
	border: 1px solid #ddd;
	margin: 7px 10px 0 10px;
	cursor: pointer;
	background-color: #fff;
	padding: 0px 15px;
	text-align: center;
}
#map2 ul li.current{
	background: #b79052;
}
.map2Tab1{
	background: url(../images/map9.jpg) no-repeat;
}
.map2Tab2{
	background: url(../images/map10.jpg) no-repeat;
}
.ztree li a.curSelectedNode{
	color: orange;
}